<% layout('layout.html') -%>

<header class="page-header">
    <% if (document.isNew) { %>
    <h1><a href="<%= url() %>">Admin</a> / <a href="<%= url(model.modelName) %>"><%= model.modelName %></a> / New</h1>
    <% } else { %>
    <h1><a href="<%= url() %>">Admin</a> / <a href="<%= url(model.modelName) %>"><%= model.modelName %></a> / Edit <span class="text-muted"><%=: document._id %></span></h1>
    <% } %>
</header>

<%= include partials/messages.html %>

<form class="form col-md-6" method="post" action="<%= url(model.modelName, document.isNew ? null : document._id) %>">
    <fieldset>
        <%- partial('partials/field.html', fields) %>
    </fieldset>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" name="_method" value="<%= document.isNew ? 'POST' : 'PUT' %>">Save <%= model.modelName%></button> or <a href="<%= url(model.modelName) %>">cancel</a>
    </div>
</form>
