<%
    var embeddedName = type[0].name;
%>
<label class="collapsible" data-toggle="collapse" data-target="#list-container-<%= field %>"><%= field %>
    <span class="text-muted"><span class="count"><%= document[field] ? document[field].length : '0'%></span> items</span></label>
<div id="list-container-<%= field %>" class="array-field collapse in">
<%
    // store backup of document
    var _document_backup = document,
        i = '{{i}}';
    document = null;
%>
<script id="list-<%= noColon(field) %>-item-template" type="text/template">
    <li class="form-group">
        <div class="input-group">
            <% if (embeddedName == 'Boolean') { %>
            <% include ./Boolean.html %>
            <% } else if (embeddedName == 'Date') { %>
            <% include ./Date.html %>
            <% } else if (embeddedName == 'Number') { %>
            <% include ./Number.html %>
            <% } else if (embeddedName == 'String') { %>
            <% include ../array-fields/String.html %>
            <% } else if (embeddedName == 'ObjectId') { %>
            <% include ./ObjectId.html %>
            <% } %>
            <span class="input-group-btn">
                <a class="btn btn-danger" href="#remove-item"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
        </div>
    </li>
</script>
<%
    // restore document
    document = _document_backup;
%>

<ol data-template="#list-<%= noColon(field) %>-item-template" class="list-unstyled">
    <% if (document[field]){ %>
        <% document[field].forEach(function(document, i){ %>
        <li class="form-group">
            <div class="input-group">
                <% if (embeddedName == 'Boolean') { %>
                <% include ./Boolean.html %>
                <% } else if (embeddedName == 'Date') { %>
                <% include ./Date.html %>
                <% } else if (embeddedName == 'Number') { %>
                <% include ./Number.html %>
                <% } else if (embeddedName == 'String') { %>
                <% include ../array-fields/String.html %>
                <% } else if (embeddedName == 'ObjectId') { %>
                <% include ./ObjectId.html %>
                <% } %>
                <span class="input-group-btn">
                    <a class="btn btn-danger" href="#remove-item"><span class="glyphicon glyphicon-remove"></span></a>
                </span>
            </div>
        </li>
        <% }) %>
    <% } %>
</ol>
<a href="#add-item"><span class="glyphicon glyphicon-plus"></span> Add item</a>
</div>
