<label for="field-<%=field %>"><%= field %></label>
<% if (references[field]){ %>
<select name="<%= prefix %><%= fieldName(field) %><%= suffix %>" id="field-<%=field %>" class="form-control">
    <% if (!document.schema.paths[field].options.required){ %>
    <option value=""></option>
    <% } %>
    <% references[field].forEach(function(model){ %>
    <option value="<%= model._id %>" <%= document[field] && model._id.equals(document[field]._id) ? ' selected' : '' %>><%= label(model, document.schema.paths[field].options.ref) %></option>
    <% }) %>
</select>
<% } else { %>
<input name="<%= prefix %><%= fieldName(field) %><%= suffix %>" id="field-<%= field %>" type="text" value="<%= document[field] ? (document[field]._id || document[field]) : '' %>" class="form-control">
<% } %>
