<label for="field-<%=field %>"><%= field %></label>
<% if (getField(document, field).options.enum){ %>
<select name="<%= field %>" id="field-<%=field %>" class="form-control" <%= readOnly(document, field) ? 'disabled' : ''%>>
    <% getField(document, field).enumValues.forEach(function(enumValue){ %>
    <option value="<%= enumValue %>" <%= document[field] == enumValue ? 'selected' : ''%>><%=: enumValue | empty %></option>
    <% }) %>
</select>
<% } else { %>
<input name="<%= field %>" id="field-<%=field %>" type="text" value="<%=: document[field] | empty %>" class="form-control" <%= readOnly(document, field) ? 'disabled' : ''%>>
<% } %>
